.btnlogin{
    
    border-radius: 500px;
    transition-property: background-color,border-color,color,box-shadow,filter;
    transition-duration: .3s;
    border-width: 0;
    letter-spacing: 2px; 
    text-transform: uppercase;
    white-space: normal; 
    max-width: 122vh;
    padding: 16px 14px 18px;
    padding-top: 14px;
    border: 1px rgba(1, 1, 1, 0.287) solid;
    
}