.main,main,html,#app{
    /* reset sidebar */
    background:var(--cor-fundo);
    color: white;
       
}

.fab{
    margin-right: 1px;
}
.linha{
    border-bottom: 1px solid gray;
}

.linhacontainer{
    margin-top:3vh;
    
}

.loginalternativ{
    display: flex; 
    flex-wrap: wrap;
    flex-direction: column;

}
.btn{
    color:black;
    min-height: 7vh;
    background:var(--cor-primary) !important;/* gambiarra */
    margin:0.5vh;
}
a {
    text-decoration: none;
    font-size: -2%;
}
.facebook{
    background: #3b5998;
    color:white;
    border: 1px solid black ;
}
.login{
    text-align: center;
    margin-top: 7vh;
    display: flex;
    flex-direction: column;
    max-width: 500px;
    justify-content: center;
}

.ajusteTelaLoginCadastro{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login input{
    background: white;
    border-radius: 0px;
    border: 3px solid black;
    width: 100%;
} 
i{
    margin: 20px ;
}

.input{
    background: black !important; 
    border: 2px solid rgba(255,255,255,0.4) !important;
    padding:1.6vh;
    color:white;
  }
  .label{ 
      text-align: left; 
      
  }
  .check{
      width: 10vh !important; 
  }