
.main {
  margin-left:15%;
  margin-top:1%;
  font-size: 28px; 
  padding: 0px 10px;
  background-color: rgb(61, 49, 49);
    
}
.musicas{
  margin-top: 2em;
}
 
.titulofileira{
  font-size: 1.2em; 
  text-align: left;
  color:white;
}
