
main {
  margin-left: 160px;
  font-size: 28px; 
  padding: 0px 10px;
    
}
.musicas{
  margin-top: 2em;
}

.fileira{
  display: inline-flex;
}
.titulofileira{
  font-size: 1.2em;
   
  text-align: left;
  color:white;
}
