
main {
  margin:12vh 0 0vh 52vh;
  font-size: 28px; 
  padding: 0px 10px;
  background-color: rgb(61, 49, 49);
    
}
.musicas{
  margin-top: 2em;
}

.fileira{
  display: inline-flex;
}
.titulofileira{
  font-size: 1.2em; 
  text-align: left;
  color:white;
}
