
.cardmusica{
    margin: 1%;
    border-radius: 2%;
  }
  .cardmusica p{
    line-height: 0;
    font-size: 0.5em;
  }
  .cardmusica p:first-child{
    font-size: 1em;
    color:white;
  }
  .lighten-1{
  border: 1px solid red;
  }