
body {
  font-family: "Lato", sans-serif;
  background-color: rgb(61, 49, 49);
}

.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--cor-fundo-escura);
  overflow-x: hidden;
  overflow-y: hidden;
  padding-top: 20px;
  color: white;
}

.sidenav a,p {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}
.sidenav p{
  font-size: 0.7em;
}
.sidenav a:hover {
  color: white;
}
.sidenav a:first-child{
  color:purple;
}

  .topofixo{
  position: fixed;
  z-index: 1;
  left: 50%; 
   
  
}   
input{
  color: antiquewhite;
  outline:none;
}
.pesquisa{
  padding: 1em;

  background-color: var(--cor-fundo-escura);
  
  border: none;
  border-radius: 0.7em;


}


@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}