
.main,main,html,#app{
    /* reset sidebar */
    background:var(--cor-fundo);
    color: white;
    margin:0;/* 
    background:white; */
}
.linha{
    border-bottom: 1px solid gray;
}

.linhacontainer{
    margin-top:3vh;
    
}

.loginalternativ{
    display: flex; 
    flex-wrap: wrap;
    flex-direction: column;   
}
.btn{
    color:black;
    min-height: 7vh;
    background:var(--cor-primary) !important;/* gambiarra */
    margin:0.5vh;
}
a {
    text-decoration: none;
    font-size: -2%;
}
input{
    color:black;
  }
.facebook{
    background: #3b5998;
    color:white;
    border: 1px solid black ;
}
.login{
    text-align: center;
    margin-top: 7vh;
    display: flex;
    flex-direction: column;
} 
.login input{
    background: white;
    border-radius: 0px;
    border: 3px solid black;
    width: 100%;
} 
i{
    margin-right: 2px;
}