
body{
    background: rgba(200,200,200,0.5);
}
.linhacontainer{
    
}
.linha{
    border-bottom: 1px solid gray;
}
.loginalternativ{
    display: flex; 
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-around;
    justify-content: center;
    align-items: center;
}
.btn{
    color:black;
}
.login{
    text-align: center;
    margin-top: 20vh;
    display: flex;
    flex-direction: column;
}
.login input{
    background: white;
    border-radius: 0px;
    border: 3px solid black;
    width: 50vh;
} 
.facebook{
    background: #3b5998;
    color:white;
    border: 1px solid black ;
}
a {
    text-decoration: none;
    font-size: -2%;
}
input{
    color:black;
  }
  